<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.awall.awalladmin.dao.ProtectMapper">

    <insert id="addProtect" parameterType="Protect">
        insert into tb_protect(protect_id, title, status, article_id)
            VALUE (
                   #{protect_id},
                   #{title},
                   #{status},
                   #{articleId}
            )
    </insert>

    <delete id="deleteProtectById" parameterType="Long">
        delete
        from tb_protect
        where protect_id = #{protectId}
    </delete>

    <update id="updateProtect" parameterType="Protect">
        update tb_protect
        <set>
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="articleId != null and articleId != ''">
                article_id=#{articleId},
            </if>
        </set>
        <where>
            <if test="protectId != null and protectId != ''">
                protect_id = #{protectId}
            </if>
        </where>
    </update>

    <select id="selectProtect" parameterType="Protect" resultType="Protect">
        select *
        from tb_protect
        <where>
            <if test="protectId != null and protectId != ''">
                and protect_id = #{protectId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="articleId != null and articleId != ''">
                and article_id = #{articleId}
            </if>
        </where>
    </select>

</mapper>

