<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.awall.awalladmin.dao.RoleMapper">
    <!--RoleMap-->
    <resultMap id="roleMap" type="role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_desc" property="roleDesc"/>
    </resultMap>

    <!--query-->
    <select id="queryRoles" resultMap="roleMap">
        select role_id, role_name, role_desc
        from tb_role;
    </select>

    <select id="findRoleByUserId" resultMap="roleMap">
        select r.role_id, r.role_name, r.role_desc
        from tb_role r inner join tb_rp rp
        on r.role_id = rp.role_id
        inner join tb_ur ur on r.role_id = ur.role_id
        inner join tb_user u on ur.user_id = u.user_id
        where u.user_id = #{ userId }
    </select>

    <!--insert-->
    <insert id="addRole" parameterType="Role" useGeneratedKeys="true" keyColumn="role_id" keyProperty="roleId">
        insert into tb_role
        values (#{roleId}, #{roleName}, #{roleDesc});
    </insert>

    <!--del-->
    <delete id="delUserById">
        delete
        from tb_role
        where role_id = #{roleId}
    </delete>

    <!--update-->
    <update id="updateRoleByMap" parameterType="map">
        update tb_role
        <set>
            <if test="roleName!=null and roleName!=''">
                role_name = #{roleName},
            </if>
            <if test="roleDesc!=null and roleDesc!=''">
                role_desc = #{roleDesc},
            </if>
        </set>
        <where>
            role_id = #{roleId}
        </where>
    </update>
</mapper>