<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="/time">
    是否在学校参加积极分子培训：<input type="radio" name="school" value="true">是
    <input type="radio" name="school" value="false" checked="checked">否<br>
    入学时间:
    <select name="entrance">
        <option value="2017-09-01">2017年9月</option>
        <option value="2018-09-01">2018年9月</option>
        <option value="2019-09-01">2019年9月</option>
        <option value="2020-09-01">2020年9月</option>
    </select><br>
    上党课:
    <select name="train">
        <option value="1">2017上半年</option>
        <option value="2">2017下半年</option>
        <option value="3">2018上半年</option>
        <option value="4">2018下半年</option>
        <option value="5">2019上半年</option>
        <option value="6">2019下半年</option>
        <option value="7">2020上半年</option>
        <option value="8">2020下半年</option>
        <option value="9">2021上半年</option>
    </select><br>
    发展对象:
    <select name="obj">
        <option value="1">2018上半年</option>
        <option value="2">2018下半年</option>
        <option value="3">2019上半年</option>
        <option value="4">2019下半年</option>
        <option value="5">2020上半年</option>
        <option value="6">2020下半年</option>
        <option value="7">2021上半年</option>
    </select>
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>


















