<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.awall.awalladmin.dao.ArticleMapper">
    <resultMap id="articleMap" type="article">
        <id property="articleId" column="article_id" />
        <result property="userId" column="user_id" />
        <result property="date" column="date" />
        <result property="content" column="content" />
        <result property="tag" column="tag" />
        <result property="url" column="url" />
        <result property="classify" column="classify" />
        <result property="star" column="star" />
        <result property="count" column="count" />
        <result property="imgs" column="imgs" />
    </resultMap>
    <insert id="addArticle" parameterType="Article">
        insert into awall.tb_article(user_id, date, content, tag, url, classify, star, count,imgs)
            VALUE (
                   #{userId},
                   #{date},
                   #{content},
                   #{tag},
                   #{url},
                   #{classify},
                   #{star},
                   #{count},
                   #{imgs}
            )
    </insert>

    <delete id="deleteArticleById" parameterType="Long">
        delete
        from tb_article
        where article_id = #{articleId}
    </delete>

    <update id="updateArticleById" parameterType="Article">
        update tb_article
        <set>
            <if test="userId != null and userId != ''">
                user_id=#{userId},
            </if>
            <if test="date != null">
                date=#{date},
            </if>
            <if test="content != null and content != ''">
                content=#{content},
            </if>
            <if test="tag != null and tag != ''">
                tag=#{tag},
            </if>
            <if test="url != null and url != ''">
                url=#{url},
            </if>
            <if test="classify != null and classify != ''">
                classify=#{classify},
            </if>
            <if test="star != null and star != ''">
                star=#{star},
            </if>
            <if test="count != null and count != ''">
                count=#{count},
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <select id="selectByLimit" resultMap="articleMap">
        select article_id, user_id, date, content, tag, url, classify, star, count,imgs
        from tb_article order by article_id desc limit #{start},#{len}
    </select>

    <select id="selectArticleByArticle" parameterType="Article" resultType="Article">
        select *
        from tb_article
        <where>
            <if test="articleId != null and articleId != ''">
                and article_id=#{articleId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id=#{userId}
            </if>
            <if test="date != null">
                and date=#{date}
            </if>
            <if test="content != null and content != ''">
                and content=#{content}
            </if>
            <if test="tag != null and tag != ''">
                and tag=#{tag}
            </if>
            <if test="url != null and url != ''">
                and url=#{url}
            </if>
            <if test="classify != null and classify != ''">
                and classify=#{classify}
            </if>
            <if test="star != null and star != ''">
                and star=#{star}
            </if>
            <if test="count != null and count != ''">
                and count=#{count}
            </if>
        </where>
    </select>

    <select id="queryArticleById" resultMap="articleMap">
        select article_id, user_id, date, content, tag, url, classify, star, count,imgs
        from tb_article where article_id = #{ id };
    </select>

    <select id="queryCountById" resultType="Long" parameterType="Long">
    select count from tb_article where article_id = #{articleId}
    </select>

    <update id="updateCountById" parameterType="Long">
        update tb_article set count = #{count} where article_id = #{articleId}
    </update>

    <update id="countInc" parameterType="Long">
        update tb_article set count = count+1 where article_id = #{articleId}
    </update>
</mapper>

